<h1 align="center">Detalle de producto</h1>
<div
  align="center"
  style="border:2px solid white;margin-left:255px;margin-right:255px;"
>
  <p>ID: {{id}}</p>
  <p>Nombre: {{nombre}}</p>
  <p>Precio: {{precio}}</p>
  <p>Codigo: {{codigo}}</p>
  <p>Stock: {{stock}}</p>
  <p>Descripcion: {{descripcion}}</p>
  <p>{{#if avatar}}
      <img
        src="{{avatar}}"
        alt="{{nombre}}"
        style="width:350px;height:360px;"
      />
    {{/if}}
  </p>
</div>
<p></p>
<div align="center">
  <p><a href="http://localhost:8080/ingresar">Ingresar nuevo producto</a></p>
  <p><a href="http://localhost:8080/productos">Listado de productos</a></p>
  <p><a href="http://localhost:8080/visualizador">Visualizador de productos
      Tiempo Real</a></p>
  <p><a href="http://localhost:8080">Menu Principal</a></p>
</div>