<h1 align="center">Detalle de producto</h1>
<div
  align="center"
  style="border:2px solid white;margin-left:255px;margin-right:255px;"
>
  <p>ID: {{producto._id}}</p>
  <p>Nombre: {{producto.nombre}}</p>
  <p>Precio: {{producto.precio}}</p>
  <p>Codigo: {{producto.codigo}}</p>
  <p>Stock: {{producto.stock}}</p>
  <p>Descripcion: {{producto.descripcion}}</p>
  <p>{{#if producto.avatar}}
      <img
        src="{{producto.avatar}}"
        alt="{{producto.nombre}}"
        style="width:350px;height:360px;"
      />
    {{/if}}
  </p>
</div>
<p></p>
<div style="margin: 1vh 3vh;
        border: 2px solid white; 
        padding: 2vh;">
<h2 style="display:block ; text-align:center">Barra de Navegacion</h1> 
<div  style="
        display: flex;
        justify-content: space-between;
        padding: 0vh;
        margin: 0vh;
      "
    >
<p align="center"><a href="{{base_url}}/home">Menu Principal</a></p>
<p align="center"><a href="{{base_url}}/ingresar">Ingresar nuevo producto</a></p>
<p align="center"><a href="{{base_url}}/productos">Listado de productos</a></p>
<p align="center"><a href="{{base_url}}/carrito">Ver Carrito</a></p>
<p align="center"><a href="{{base_url}}/info">Informacion de Plataforma</a></p>
</div></div>