<h1 align="center">Informacion de la Plataforma</h1>
<div align="left"
  style="border:2px solid white;margin-left:200px;margin-right:200px;">
  <h4 style="margin-left:40px ; margin-top:40px">
  <li>Numero de procesadores:{{num}}</li>
  <li>Directorio actual de trabajo:{{directorio}}</li>
  <li>Id del proceso:{{idProcess}}</li>
  <li>Version de Node:{{version}}</li>
  <li>Titulo del proceso:{{title}}</li>
  <li>Sistema operativo:{{plataform}}</li>
  <li>Directorio de ejecución:{{execution}}</li>
  <li>Uso de de la memoria:
    <h5 style="margin-left:40px">    
    <li>rss: {{memory.rss}}</li>
    <li>heapTotal: {{memory.heapTotal}}</li>
    <li>heapUsed: {{memory.heapUsed}}</li>
    <li>external: {{memory.external}}</li>
    <li>arrayBuffers: {{memory.arrayBuffers}}</li></h5>
  </li>
  </h4>
</div>
<p></p>
<div align="center">
<p><a href="{{base_url}}/home">Regresar a menu principal</a></p>
<p><a href="{{base_url}}/ingresar">Ingresar nuevo producto</a></p>
<p><a href="{{base_url}}/productos">Listado de productos</a></p>
<p><a href="{{base_url}}/visualizador">Visualizador de productos Tiempo Real</a></p>
</div>