<div
  style="margin:5vh;padding:2vh;display: flex;justify-content: space-evenly;border:2px solid white;"
>
  <div align="center"> <p>{{username.mensaje}}</p> </div>
  <div style="text-align:center">
    <h2 >Menu de opciones:</h2>
    <p><a href="{{base_url}}/info">Informacion de Plataforma</a></p>
    <p><a href="{{base_url}}/ingresar">Ingresar nuevo producto</a></p>
    <p><a href="{{base_url}}/productos">Listado de productos</a></p>
    <p><a href="{{base_url}}/visualizador">Visualizador de productos Tiempo Real</a></p>
  </div>
  <div
    style="   display: block; justify-content: space-around; align-items: center;"
  >
    <h2 style="text-align:center;margin:0">{{username.username}}</h2>
    <img
      src="{{username.avatar}}"
      alt="avatar"
      style="margin:0vh 10vh ;width:150px;height:160px;"
    />
    <p align="center"><a href="{{base_url}}/user">Editar informacion</a></p>
    <form
      name="form1"
      method="post"
      action="/logout"
    >
      <label>
        <input name="submit2" type="submit" id="submit2" value="log out" />
      </label>
    </form>
  </div></div>