<h1 id="creisi" align="center">Productos</h1>
<input
      id="buscador"
      placeholder="Buscador"
      style="width: 60vh; display: block; margin: auto"
    />
  <p></p>
<table text-align="center"
  id="contenedorProductos"
  style="border:2px solid white;margin-left:auto;margin-right:auto;"
>
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Precio</th>
    <th>Avatar</th>
    <th style="text-align:center">Ver Detalles</th>
    <th style="text-align:center">Cantidad</th>
    <th style="text-align:center">Agregar Carrito</th>
  </tr>
  {{#if isEmpty}}
    <tr>
      <td>No hay productos registrados aún</td>
    </tr>
  {{/if}}
  {{#each value}}
    <tr id="row{{this._id}}">
      <td id="id{{this._id}}">{{this._id}}</td>
      <td id="nombre{{this._id}}">{{this.nombre}}</td>
      <td id="precio{{this._id}}">{{this.precio}}</td>
      <td id="avatar{{this._id}}">
        {{#if this.avatar}}
          <img
            src="{{this.avatar}}"
            alt="{{this.nombre}}"
            style="width:150px;height:160px;"
          />
        {{/if}}
      </td>
      <td>
        <form action="{{@root.detailUrlBase}}/{{this._id}}">
          <button type="submit">Ver Producto</button>
        </form>
      </td>
      <td>
        <div  style="text-align:center">  
          <input style="width: 100px;" class="quantity" id="quantity{{this._id}}" min="1" name="quantity" type="number" value=1>
        </div>
      </td>
      <td>
        <button onclick="agregarCarrito('{{this._id}}')">Agregar al carrito</button>
        <button onclick="eliminarCarrito('{{this._id}}')">Eliminar del carrito</button>

      </td>
  {{/each}}
</table>

<h3 style="text-align: center">Agrega a tu carrito los siguientes productos</h3>
<div>
  <table
    id="contenedorCarrito"
    style="border:2px solid white;margin-left:auto;margin-right:auto;"
  >
    <thead class="productsTableHead"/>
      <tr class="productsTableHeaderRow">
        <th>ID del Producto</th>
        <th>Nombre del Producto</th>
        <th>Precio del Producto</th>
        <th>Imagen del Producto</th>
        <th>Cantidad</th>
        <th>SubTotal</th>
      </tr>
  </table>
  <div style="margin:1vh,padding:1vh"
  id="contenedorTotal">
  <form action="/api/carrito/{{carritoid}}/update" method="post">
  <input id='inputArray' type="hidden" name="array" required placeholder="Lista de Productos" />
  <button type="submit">Actualizar el Carrito</button>
</form>
</div> </div>
<script type='text/javascript' src="/javascripts/carrito.js"></script>
<div style="margin: 1vh 3vh;
        border: 2px solid white; 
        padding: 2vh;">
<h2 style="display:block ; text-align:center">Barra de Navegacion</h1> 
<div  style="
        display: flex;
        justify-content: space-between;
        padding: 1vh;
        margin: 0vh;
      "
    >
<p align="center"><a href="{{base_url}}/home">Menu Principal</a></p>
<p align="center"><a href="{{base_url}}/ingresar">Ingresar nuevo producto</a></p>
<p align="center"><a href="{{base_url}}/carrito">Ver Carrito</a></p>
<p align="center"><a href="{{base_url}}/info">Informacion de Plataforma</a></p>
<p align="center"><a href="{{base_url}}/visualizador">Visualizador de productos Tiempo Real</a></p>
</div></div>

