<div style="margin: 2vh 3vh;
        border: 2px solid white; 
        padding: 2vh;">
<h2 style="display:block ; text-align:center">Barra de Navegacion</h1> 
<div  style="
        display: flex;
        justify-content: space-between;
        padding: 0vh;
        margin: 0vh;
      "
    >
<p align="center"><a href="{{base_url}}/home">Menu Principal</a></p>
<p align="center"><a href="{{base_url}}/ingresar">Ingresar nuevo producto</a></p>
<p align="center"><a href="{{base_url}}/info">Informacion de Plataforma</a></p>
<p align="center"><a href="{{base_url}}/productos">Listado de Productos</a></p>
<p align="center"><a href="{{base_url}}/visualizador">Visualizador de productos Tiempo Real</a></p>
</div></div>
<p/>

<div style="display:blockl;text-align:center">
  <h1  style="margin:0vh 10vh "id="creisi" align="center">Carrito de {{username.username}}</h1>
   <img
      src="{{avatar}}"
      alt="avatar"
      style="margin:1vh 10vh ;width:150px;height:160px;"
    />
  </div>
<input
      id="buscador"
      placeholder="Buscador"
      style="width: 60vh; display: block; margin: auto"
    />
  <p></p>
<table text-align="center"
  id="contenedorProductos"
  style="border:2px solid white;margin-left:auto;margin-right:auto;"
>
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Precio</th>
    <th>Avatar</th>
    <th style="text-align:center">Ver Detalles</th>
    <th style="text-align:center">Cantidad</th>
    <th style="text-align:center">SubTotal</th>
    <th>Eliminar</th>
  </tr>
  {{#if isEmpty}}
    <tr>
      <td>No hay productos registrados aún</td>
    </tr>
  {{/if}}
  {{#each value}}
    <tr id="row{{this._id}}">
      <td id="id{{this._id}}">{{this._id}}</td>
      <td id="nombre{{this._id}}">{{this.nombre}}</td>
      <td id="precio{{this._id}}">{{this.precio}}</td>
      <td id="avatar{{this._id}}">
        {{#if this.avatar}}
          <img
            src="{{this.avatar}}"
            alt="{{this.nombre}}"
            style="width:150px;height:160px;"
          />
        {{/if}}
      </td>
      <td>
        <form action="{{@root.detailUrlBase}}/{{this._id}}">
          <button type="submit">Ver Producto</button>
        </form>
      </td>
      <td id="cantidad{{this._id}}">{{this.cantidad}}</td>
      <td id="subTotal{{this._id}}">{{this.subtotal}}</td>
      <td>
        <form action="carrito/{{@root.carritoid}}/remove/{{this._id}}"  method="post">
          <button type="submit">Eliminar Producto</button>
        </form>
      </td>
  {{/each}}
</table>

<div style="margin: 1vh 3vh;
        border: 2px solid white; 
        padding: 2vh;
        display:flex
        justify-content: center"
  id="contenedorTotal">
  <h3 style="text-align:center">Total a Pagar ${{total}}</h3>
  <form action="/carrito/comprar" method="post">
  <button type="submit">Completar Compra</button>
</form>
  <form action="/carrito/vaciar" method="post">
  <button type="submit">Vaciar Carrito</button>
</form>
</div> 


