<div style="margin: 2vh 3vh;
        border: 2px solid white; 
        padding: 2vh;">
<h2 style="display:block ; text-align:center">Barra de Navegacion</h1> 
<div  style="
        display: flex;
        justify-content: space-between;
        padding: 0vh;
        margin: 0vh;
      "
    >
<p align="center"><a href="{{base_url}}/home">Menu Principal</a></p>
<p align="center"><a href="{{base_url}}/ingresar">Ingresar nuevo producto</a></p>
<p align="center"><a href="{{base_url}}/info">Informacion de Plataforma</a></p>
<p align="center"><a href="{{base_url}}/productos">Listado de Productos</a></p>
<p align="center"><a href="{{base_url}}/carrito">Ver Carrito</a></p>
<p align="center"><a href="{{base_url}}/visualizador">Visualizador de productos Tiempo Real</a></p>
</div></div>
<p/>
<h1 style="text-align:center;margin:0">Informacion del Usuario</h1>
<div
    style="text-align: center;"
  >
    <h2 style="margin:0">{{username.username}}</h2>
    <img
      src="{{username.avatar}}"
      alt="avatar"
      style="margin:1vh;text-align:center ;width:150px;height:160px;"
    />
  </div>
<div align="center"
  align="center"
  style="border:2px solid white;margin-left:200px;margin-right:200px;">
  <h2>Editar datos de usuario:</h2>
  <form action="/user/{{username.userid}}" method="post">
    <input type="text" name="firstname" required placeholder="Nombre" />
    <input type="text" name="lastname" required placeholder="Apellido" />
    <input type="text" name="password" required placeholder="Constrasena" />
    <input type="number" name="age" required placeholder="Edad" />
    <input type="text" name="phone" required placeholder="Telefono" />
    <input type="text" name="avatar" required placeholder="URL Imagen" />
    <input type="text" name="email" required placeholder="Ejemplo@correo.com" />
    <button type="submit">Enviar</button>
  </form>
</div>

