extends layout

block content
  h1(align="center") Detalle de producto
  div(align="center")
    p="ID: " + _id
    p="Nombre: " + nombre
    p="Precio: " + precio
    if avatar
      img(
        src=avatar
        alt=nombre
        style="width:350px;height:360px;"
      )
    p
       a(href="http://localhost:3000/productos/") Regresar al listado de productos
